@font-face {
    font-family: 'yekan';
    src: url('/assets/font/IRANYekanX-Regular.woff');
    font-weight: 400
}
@font-face {
    font-family: 'yekan';
    src: url('/assets/font/IRANYekanX-Light.woff');
    font-weight: 300
}
@font-face {
    font-family: 'yekan';
    src: url('/assets/font/IRANYekanX-Medium.woff');
    font-weight: 500
}
@font-face {
    font-family: 'yekan';
    src: url('/assets/font/IRANYekanX-Bold.woff');
    font-weight: bold
}
@font-face {
    font-family: 'yekan';
    src: url('/assets/font/IRANYekanX-ExtraBold.woff');
    font-weight: 1000;
}
@font-face {
    font-family: 'estedad';
    src: url('/assets/font/Estedad-Regular.woff2');
    font-weight: normal
}
@font-face {
    font-family: 'estedad';
    src: url('/assets/font/Estedad-Medium.woff2');
    font-weight: 500
}
@font-face {
    font-family: 'estedad';
    src: url('/assets/font/Estedad-Bold.woff2');
    font-weight: bold
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --sb-track-color: #232E33;
    --sb-thumb-color: #979897;
    --sb-size: 5px;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;

}
@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color)
        var(--sb-track-color);
    }
}